/* index.html */
/* small screen */

.navbar {
    background-color: #49A9A5!important; 
    padding: 0;
}

/*  .bg-light {
    background-color: #49A9A5!important; 
}  */

.navbar-brand {
    color:white;
    background:#49a9a5;
    font-size: 36px;
    margin:0;
    font-weight: bold;
    padding-left: 16px;
    padding-right: 16px; 
    font-family: Times, "Times New Roman", serif;
}
.navbar-toggler {
    border=1px;
    border-color: black;
}
.nav-link{
    color:black;
    font-size:20px;
}

#mainbody{
    background-color: #EDEDED;
}

.col-md-8 {
    background-color: white;
    margin-left:1%;
    margin-right:1%;
    margin-top:6%;
    margin-bottom: 0px;
    font-size:20px;
}

 .col-md-4 {
    background-color: white;
    margin-top:6%;
    margin-bottom: 0;
} 

.col-md-6 {
    margin-bottom: 40px;
}
}
/*  .col-md-6 {
    margin: 0;
    padding: 0;
} 
 */
h2,h3{
    color:#49A9A5;
    font-family: Times, "Times New Roman", serif;
    font-weight: bold;
    margin-top:30px;
    margin-box:10px;
}

.img-thumbnail {
    max-width: 95%;
    height: 95%;
    border:0;
    margin-left:10px
}

.border {
    border-color:#49A9A5!important;
    border-width:3px!important;
}